@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Yeseva+One&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #F7FAFC;
}

.rs-anim-fade.rs-anim-in {
  z-index: 10000;
}

::-webkit-scrollbar{
  width: 0;
  background: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

p{
  color: #1f1c2d;
}

* {
  box-sizing: border-box;
  font-family: 'Quicksand';


}
